<div class="row">
  <div class="col-sm-12 col-md-6 col-md-offset-3">

    <%= simple_form_for [@car,@booking] do |f| %>

      <div class="booking-form">
        <p><strong>Price Per Day:</strong> £<%= @car.price_per_day %></p>

        <%= f.input :start_date, placeholder: "dd/mm/yyyy" %>

        <%= f.input :end_date, placeholder: "dd/mm/yyyy" %>

        <%= f.submit class: "btn btn-danger" %>

      </div>
    <% end %>

  </div>
</div>

