<% @cars.each do |car| %>
  <%= link_to car_path(car) do %>
  <div class="col-xs-12 col-sm-6 col-md-4 ">
      <div class="card">

        <div class= "card-body" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path car.carphotos.first.photo %>);">
        </div>

        <div class="card-footer">

          <div class="car-details">
            <h4 class="rating">*****</h4>
            <h4 class="car-name"><%= car.make %> <%= car.model %></h4>
          </div>

          <div class="owner-section">
            <%= cl_image_tag car.user.photo, gravity: "face", height: 400, width: 400, crop: "thumb", class: "avatar avatar-small" %>
            <div class="owner-details">
              <h6><%= car.user.first_name %></h4>
              <h6><%= car.user.address %></h4>
            </div>
            <h5 class="price-per-day">£<%= car.price_per_day %>/day</h5>
          </div>

        </div>

      </div>

  </div>

  <% end %>
<% end %>
