<div class="container">

<%#= cl_image_tag @car.photo, height: 300, width: 400, crop: :fill %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="car-title">
        <h1><%= @car.make %></h1>
      </div>
      <div class="car-infocard">
        <p class="price-style">
          £<%= @car.price_per_day %> per day
        </p>
        <ul class="car-card-list">
          <li>Make: <%= @car.make %></li>
          <li>Model: <%= @car.model %></li>
          <li>Year: <%= @car.year %></li>
          <li>Mileage: <%= @car.mileage %></li>
          <li>Color: <%= @car.color %></li>
        </ul>

        <div class="contact-and-reviews">
          <p>[no user photo yet]</p>
          <p><%= @car.user.first_name %></p>
          <p><%= @car.user.address %></p>
          <%= link_to "Contact #{@car.user.first_name}", '#', class: "btn btn-danger" %>

        </div>
      </div>
    </div>


    <div class="col-xs-12 col-md-6">
      <div class="address-info-data">
        <h3><%= @car.location %></h3>
      </div>
      <div class="map-card">
        <p>Map Placeholder</p>
      </div>
    </div>
  </div>

  <p>[Photo placeholder]</p>

  <%= link_to "Edit car", edit_car_path(@car), class: "btn btn-danger" %>
  <%= link_to "Delete car", car_path(@car), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>

</div>
